.nav {
    width: 100vw;
    height: 95px;
    display: inline-flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(208, 135, 0, 0.2), rgba(208, 135, 0, 0.8) 20%);
}


.logoNavbar {
    height: 70px;
    margin: 5px 15px;
}

.ulNavbar {
    list-style: none;
    text-decoration: none;
}

.liNavbar {
    display: inline-flex;
    margin-right: 10px;
    padding: 1.5rem;
    text-decoration: none;
    color: inherit;
    margin: 10px;
}

.liNavbar a, :hover, :visited {
    list-style: none;
    text-decoration: none;
    color: black;
}

.liNavbar a:hover{
    color: white;
}